*{margin:0;padding:0;box-sizing:border-box;}

body{
font-family:'Poppins',sans-serif;
background:linear-gradient(135deg,#d9f99d,#fef08a);
display:flex;
justify-content:center;
}

.main{
max-width:1100px;
display:flex;
flex-direction:column;
align-items:center;
}

h1{
margin:20px;
color:#14532d;
text-align:center;
}

.container{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:20px;
}

.card{
background:white;
padding:15px;
border-radius:12px;
width:250px;
margin:10px;
box-shadow:0 6px 15px rgba(0,0,0,0.1);
text-align:center;
}

img{
width:400px;
margin:20px;
border-radius:12px;
display:block;
margin-left:auto;
margin-right:auto;
}

button{
background:#22c55e;
border:none;
padding:10px;
margin:5px;
border-radius:10px;
color:white;
cursor:pointer;
}

.analysis-container{
display:flex;
gap:20px;
flex-wrap:wrap;
justify-content:center;
}

.analysis-box{
background:white;
padding:15px;
width:300px;
border-radius:12px;
text-align:center;
}

.center{
text-align:center;
}